body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html*{
  font: 14px Arial, sans-serif;
}

.app-header {
  height: 70px;
  padding: 10px;
  color: white;
  background: #206779;
}

.header{
  font-size: 30px;
  padding: 15px;
}

.bold-div{
  font-weight: bold;
}

.top-div{
  display: flex;
  padding: 10px;
  width: 100%;
  background: #f0f3f5;
}

.inner-div{
  width: 100%;
  margin-right: 15px;
  color:#0076b6
}

.expander-top{
  padding: 10px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ece9e9;
  border-top:1px solid #ece9e9;
}

.expander-inner{
  margin-bottom: 12px;
  display: flex;
}

.expander-inner span{
  margin-left: 15px;
  width: 87px;
}

.root-cls{
  padding: 5px 20px;
  background: #c2c5c7;
}

.location-cls{
  font-size: 17px;
  margin-bottom: 10px;
  color:#0076b6;
  font-weight: 600;
  width: 100%;
}

.degreesign:before{
  margin-left: 2px;
  content: '\00b0';
}

.humidity:after{
  margin-left: 2px;
  content: '\0025';
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
